<div ng-show="solutions[board.boardType].length">
    <button class="small r"
        title="Show next solution"
        ng-show="settings.solutionsShown"
        ng-disabled="(currentSolution == solutions[board.boardType].length - 1)"
        ng-click="showNextSolution(board.boardType)"
        ng-touchstart="showNextSolution(board.boardType)">
        <icon class="fa fa-step-forward fa-lg"></icon>
    </button>
    <button class="small l"
        title="Show previous solution"
        ng-show="settings.solutionsShown"
        ng-disabled="(currentSolution == 0)"
        ng-click="showPreviousSolution(board.boardType)"
        ng-touchstart="showPreviousSolution(board.boardType)">
        <icon class="fa fa-step-backward fa-lg"></icon>
    </button>
    <button class="rounded"
        ng-show="!settings.solutionsShown"
        ng-class="{'solved' : (board.solved && !board.newSolution)}"
        ng-click="showSolution()"
        ng-touchstart="showSolution()">Show solution
        {{currentSolution + 1}} / {{solutions[board.boardType].length}}
    </button>
    <span class="rounded"
        ng-show="settings.solutionsShown"
        ng-class="{'solved' : (board.solved && !board.newSolution)}">
        Solution {{currentSolution + 1}} / {{solutions[board.boardType].length}}
    </span>
</div>
