<div class="pentomino"
    ng-repeat="pentomino in pentominos track by $index"
    ng-mousedown="methods.startDrag(pentomino, $event)"
    ng-mousemove="methods.doDrag(pentomino, $event)"
    ng-mouseup="methods.stopDrag(pentomino, $event)"
    ng-mouseleave="methods.stopDrag(pentomino, $event)"
    ng-style="{{methods.getPentominoCss(pentomino)}}"
    data-pentomino-index="{{$index}}">
    <div class="relContainer"
        ng-repeat="face in pentomino.faces track by $index"
        ng-if="$index == pentomino.face">
        <div class="part"
            ng-repeat="part in face track by $index"
            ng-class="{
                'fa fa-refresh rotate':$index==0,
                'fa fa-arrows-h flipH':$index==1,
                'fa fa-arrows-v flipV':$index==2
            }"
            ng-click="methods.flipRotate(pentomino, $index)"
            ng-style="{{methods.getPartCss(pentomino, part)}}"></div>
    </div>
</div>
