<div class="pentomino"
    ng-repeat="pentomino in pentominos track by $index"
    ng-style="{{methods.getPentominoCss(pentomino)}}"
    data-pentomino-index="{{$index}}">
    <div class="relContainer"
        ng-repeat="face in pentomino.faces track by $index"
        ng-if="$index == pentomino.face">
        <div class="part"
            ng-repeat="part in face track by $index"
            ng-mousedown="methods.startDrag(pentomino, $index, $event)"
            ng-touchstart="methods.startDrag(pentomino, $index, $event)"
            ng-class="{
                'fa fa-refresh rotate':($index==0 && pentomino.faces.length > 1),
                'fa fa-arrows-h flipH':($index==1 && pentomino.faces.length > 2),
                'fa fa-arrows-v flipV':($index==2 && pentomino.faces.length > 2)
            }"
            ng-style="{{methods.getPartCss(pentomino, part)}}">
            <!-- <span ng-if="$index==3">{{pentomino.position.x + '/' + pentomino.position.y}}</span>
            <span ng-if="$index==4">{{pentomino.face}}</span> -->
        </div>
    </div>
</div>
