<form name="settingsForm" action="">
    <label for="rectangle">
        <input type="radio"
            ng-model="board.brdType"
            name="brdType"
            value="rectangle"
            ng-click="initPentominos(brdType); board.setBoardFields(brdType)"
            id="rectangle" /><span>6&times;10</span>
    </label>
    <label for="square">
        <input type="radio"
            ng-model="board.brdType"
            name="brdType"
            value="square"
            id="square" /><span>8&times;8</span>
    </label>
</form>
