<form name="settingsForm" action=""
    ng-if="board.brdType">
    <label for="square">
        <input type="radio"
            ng-model="board.brdType"
            name="board.brdType"
            value="square"
            ng-change="readStart()"
            id="square" /><span>8&times;8</span>
    </label>
    <label for="square">
        <input type="radio"
            ng-model="board.brdType"
            name="board.brdType"
            value="rectangle"
            ng-change="readStart()"
            id="rectangular" /><span>6&times;10</span>
    </label>
</form>
