@charset "UTF-8";
/* CSS Document */
body, html{
    width: 100%;
    height: 100%;
    background-color: #222;
    font-family: TrebuchetMS, sans-serif;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}
body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.r{
	float:right;
}
.l{
	float: left;
}
.rounded{
    border-radius: 100px
}
.clearFix{
	clear:both;
}
.hidden{
	display:none;
}
.invisible{
    visibility: hidden;
}
.pushTop{
	margin-top: 12px;
}
.pushLeft{
	margin-left: 12px;
}
.pushBottom{
	margin-bottom: 12px;
}
.pushBottomMore{
	margin-bottom: 24px;
}
.textAlignLeft{
    text-align: left;
}
header{
    position: relative;
    height: 40px;
}
h1{
    font-family: inherit;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 0;
    margin: 20px 0 -20px 0;
}
#hamburger{
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 1;
}
#hamburger .fa-bars{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-top: -1px;
    cursor: pointer;
}
nav ul{
    position: absolute;
    left: -5px;
    top: 0;
    background-color: rgba(34,34,34,.7);
    border: 1px solid rgba(34,34,34,.7);
}
nav ul li{
    font-size: 14px;
    color: #333;
    background-color: ghostwhite;
    line-height: 20px;
    padding: 10px 20px 10px 15px;
    margin: 1px;
    cursor: pointer;
}
#board{
    position: relative;
    /*margin: 40px auto;*/
    background-color: lightgray;
    border: 5px solid darkgray;
}
#board.solved,
.solved{
    border-color: lime;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,255,0,.5);
    box-shadow: 0 0 30px 0 rgba(0,255,0,.5);
}
#controls{
    margin-top: 5px;
    text-align: center;
}
#board.square #controls > div:first-child{
    margin-bottom: 30px;
}
#board.rectangle #controls > div:first-child{
    margin-bottom: 10px;
}
#controls button,
#controls span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 10px;
}
#controls button{
    cursor: pointer;
}
#controls button.small{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}
#controls button + icon{
    margin: 0 10px;
    line-height: 30px;
}
#controls button[disabled='disabled']{
    visibility: hidden;
}
.pentomino {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.relContainer{
    position: relative;
}
.part{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    border: 1px solid rgba(211,211,211,.2);
    box-sizing: border-box;
    pointer-events:auto;
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}
.part:active {
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}
.part::before{
    line-height: 38px;
    display: none;
}
.pentomino.active .part::before,
.pentomino:hover .part::before{
    display: inline;
}
.pentomino.transparent .part{
    opacity: .7;
}
footer{
    display: block;
    width: 100%;
    position: absolute;
    padding: 0 10px;
    bottom: 10px;
    box-sizing:border-box;
}
footer span{
    color:#fff !important;
}
footer :first-child,
footer :first-of-type('span'){
    m
}
footer a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 12px;
}
