@charset "UTF-8";
/* CSS Document */
*{
	border:0;
	margin:0;
}
body, html{
}
.r{
	float:right;
}
.l{
	float: left;
}
.relContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.clearFix{
	clear:both;
}
.hidden{
	display:none;
}
.pushTop{
	margin-top: 12px;
}
.pushLeft{
	margin-left: 12px;
}
.pushBottom{
	margin-bottom: 12px;
}
.pushBottomMore{
	margin-bottom: 24px;
}

#board{
    position: relative;
    margin: 40px auto;
    width: calc(8*40px);
    height: calc(8*40px);
    background-color: silver;
}
.pentomino {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(3*40px);
    height: calc(3*40px);
    pointer-events: none;
}
.part{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}
