@charset "UTF-8";
/* CSS Document */
*{
	border:0;
	margin:0;
}
body, html{
}
.r{
	float:right;
}
.l{
	float: left;
}
.clearFix{
	clear:both;
}
.hidden{
	display:none;
}
.pushTop{
	margin-top: 12px;
}
.pushLeft{
	margin-left: 12px;
}
.pushBottom{
	margin-bottom: 12px;
}
.pushBottomMore{
	margin-bottom: 24px;
}

#board{
    position: relative;
    margin: 40px auto;
    background-color: silver;
}
#controls{
    padding: 40px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input+span{
    margin-left: 5px;
}
.pentomino {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.relContainer{
    position: relative;
}
.part{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    pointer-events:auto;
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}
.part:active {
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}
